p1{
    font-size: 85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p2{
    font-size: 85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.casestudy {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #008080;
    height: 550;
    
}
.small {
    width: fit-content;
}
p2{
    font-size: 65px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 60px;
    color: white;
}
.h2{
    color: white;
    padding-left: 12px;
}
.small{
    background-color: #008080;
}
.image{
    background-color: #008080;
}
h5{
    color: #008080;
    font-size: 89px;
    display: flex;
    justify-content: center;
    padding-inline-start: 45px;
    background-color: 
}
.skills1{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 650px;
    background: #008080;
    border: 8px solid black;
}
.skills2{
    display:flex;
    justify-content:center;
    align-content: center;
    width: 100%;
    height: 650xpx;
    background: #c814cc;
    border: 8px solid black
}
.skills3{
display:flex;
    justify-content:center;
    align-content: center;
    width: 100%;
    height: 650px;
    background: #cc8914;
    border: 8px solid black}